# Programs

so_long
so_long_bonus

# Objects

obj/
obj_bonus/
mlx/*.o

# Libraries

libftprintf.a
libmlx_Linux.a
ft_printf/libft/libft.a
ft_printf/libftprintf.a

#Libraries Objects

mlx_linux/obj
ft_printf/libft/objs
ft_printf/sources/objs

#README

README.md